$primary-color: #980000;
$secondary-color: #c40801;
$notification-border: #000;
$notification-color: #000;
$drop-shadow: #c6c6c6;
$white-text: #fff;
$light-text: #867e70;
$primary-shade: #f5cecc88;
$paragraph: rgba(0, 0, 0, 0.7);
$paragraph2: rgba(255, 255, 255, 0.9);
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
