$primary-color:#000000;
// $primary-color:#b48484;
$secondary-color:#5E5E5E;
$notification-bg:#919191;
$drop-shadow:#C6C6C6;
$light-text:#fff;
$paragraph:rgba(0,0,0,0.7);
$paragraph2:rgba(255,255,255,0.7);
*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}