* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.notification {
  background-color: #919191;
  width: 100%;
  height: 40px;
  color: #fff;
  font-weight: 600;
}

.notification .title {
  background-color: #000000;
  padding: 8px;
}

.aboutus-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #000000;
}

.aboutus-section .box {
  background-color: #5E5E5E;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.7);
  width: 70%;
}

.aboutus-section .box .title {
  font-weight: 700;
  border-bottom: 2px solid #000000;
  color: #000000;
}

.aboutus-section .box .img-box {
  -webkit-transition: all 2s;
  transition: all 2s;
  height: 300px;
  background-image: url("../img/college_building.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
}

.aboutus-section .box .desc {
  text-align: justify;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
}

.chairman-section .chairman-box {
  width: 90%;
  background-color: #5E5E5E;
}

.chairman-section .chairman-box .chair-img {
  border: 10px solid #5E5E5E;
  background-image: url("../img/chairman.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-position: -100px;
  position: relative;
  overflow: hidden;
}

.chairman-section .chairman-box .chair-img .overlay1 {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #000000;
  bottom: -27px;
  left: -30px;
  border-radius: 50%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  opacity: 0.7;
}

.chairman-section .chairman-box .chair-desc {
  text-align: justify;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  overflow: hidden;
}

.chairman-section .chairman-box .chair-desc .overlay2 {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: #000000;
  top: -70px;
  right: -70px;
  border-radius: 50%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  opacity: 0.25;
}

.chairman-section .chairman-box .chair-desc .title {
  font-weight: bolder;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.chairman-section .chairman-box .chair-desc .sub-title {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.chairman-section .chairman-box .chair-desc .chair-msg {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bolder;
}

.college-life-section .life-box {
  width: 100%;
}

.college-life-section .life-box .life-item {
  height: 300px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
  overflow: hidden;
}

.college-life-section .life-box .life-item .overlay-box-top .item-overlay-top {
  -webkit-transition: all 700ms;
  transition: all 700ms;
  position: absolute;
  background-color: #000000;
  right: -300px;
  top: 0px;
  z-index: 99;
  width: 75%;
  height: 4%;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
}

.college-life-section .life-box .life-item .overlay-box-top .item-overlay-top:nth-child(2) {
  right: -300px;
  top: 15px;
}

.college-life-section .life-box .life-item .overlay-box-bottom .item-overlay-bottom {
  -webkit-transition: all 700ms;
  transition: all 700ms;
  position: absolute;
  background-color: #000000;
  left: -300px;
  bottom: 0;
  z-index: 99;
  width: 75%;
  height: 4%;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

.college-life-section .life-box .life-item .overlay-box-bottom .item-overlay-bottom:nth-child(2) {
  left: -300px;
  bottom: 15px;
}

.college-life-section .life-box .life-item:nth-child(1) {
  background-image: url("../img/gym.jpg");
}

.college-life-section .life-box .life-item:nth-child(2) {
  background-image: url("../img/sports1.jpg");
}

.college-life-section .life-box .life-item:nth-child(3) {
  background-image: url("../img/library.jpg");
}

.college-life-section .life-box .life-item:nth-child(3):hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.45))), url("../img/library.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.45)), url("../img/library.jpg");
}

.college-life-section .life-box .life-item:nth-child(1):hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.45))), url("../img/gym.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.45)), url("../img/gym.jpg");
}

.college-life-section .life-box .life-item:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 212, 100, 0.15)), to(rgba(0, 0, 0, 0.45))), url("../img/sports1.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 212, 100, 0.15), rgba(0, 0, 0, 0.45)), url("../img/sports1.jpg");
}

.college-life-section .life-box .life-item:hover .overlay-box-top .item-overlay-top:nth-child(1) {
  right: -120px;
}

.college-life-section .life-box .life-item:hover .overlay-box-top .item-overlay-top:nth-child(2) {
  right: -140px;
}

.college-life-section .life-box .life-item:hover .overlay-box-bottom .item-overlay-bottom:nth-child(1) {
  left: -120px;
}

.college-life-section .life-box .life-item:hover .overlay-box-bottom .item-overlay-bottom:nth-child(2) {
  left: -140px;
}

.partner-section {
  background-color: #5E5E5E;
  padding: 5% 0%;
}

.partner-section .section-title {
  color: #000000;
  border-bottom: 2px solid #000000;
  font-weight: 500;
}

.partner-section .owl-carousel {
  margin: 0 auto;
  width: 900px;
}

.partner-section .owl-carousel .owl-stage-outer {
  padding: 10% 0%;
}

.partner-section .owl-carousel .owl-item .item .company-img img {
  background-color: #fff;
  width: 100px;
  height: 100px;
  padding: 2%;
}

.partner-section .owl-carousel .owl-item .item .c-title {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  position: absolute;
  bottom: -50px;
  color: #000000;
  opacity: 0;
  font-weight: 500;
}

.partner-section .owl-carousel .owl-item.active .c-title {
  opacity: 0.35;
  font-weight: 100;
}

.partner-section .owl-carousel .owl-item.center .c-title {
  opacity: 0.35;
  font-weight: 100;
}

.partner-section .owl-carousel .owl-item.active.center img {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border: 2px solid #000000;
  -webkit-box-shadow: 0px 0px 10px 0px white;
          box-shadow: 0px 0px 10px 0px white;
}

.partner-section .owl-carousel .owl-item.active.center .c-title {
  opacity: 1;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */